
.jQWCP-wPreview, .jQWCP-slider-wrapper{
display:none!important;
}

.jQWCP-wWidget{
    background: transparent ;
}

.color-block{
    max-width: 100%!important;
    width: 100%;
    box-sizing: border-box;
}
.jQWCP-wWidget{
    border: none!important;
    box-shadow: none!important;
}
.jQWCP-wWheel{
 margin:1.5rem auto;
 float: none;
 height: 250px!important;
 width: 250px!important;
}
#snippet-block{height:310px!important}